.DS_Store
.env
/node_modules/

# React Router
/.react-router/
/build/

# Python Backend
backend/__pycache__/
backend/*.pyc
backend/*.py[cod]
backend/db.sqlite3
backend/*.log
backend/staticfiles/
backend/media/
backend/SOS/
backend/venv/
backend/env/
